/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 22, 2014, 12:50:07 AM
    Author     : max
*/

#container {
    background-color: #FFF;
    font-size: 0.75em;
    min-width: 820px;
    position: relative;
    margin: 0 auto;
    display: block;
    color: #111;
    font-family: Verdana,Geneva,"DejaVu Sans",sans-serif;
    line-height: 1.5;
}

#leaderboard {
    display: block;
    content: ".";
    height: 0;
    clear: both;
    visibility: hidden;
}

