/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 13, 2014, 11:55:32 PM
    Author     : root
*/
@import url(http://fonts.googleapis.com/css?family=Muli);

#map-div {
    width: 61.8%; 
    display: block;
    height: 100%;
    min-height: 500px;
    float: left;
}

#rides-list {
    position:relative;
    width: 38.2%;
    display: block;
    height: 38.2%;
    float:right;
    overflow-x: hidden;
    overflow-y: hidden;
}

#content-column {
    height: 581px;
    padding-bottom: 50px;
    min-height: 581px;
}

#footer {
    bottom: 0;
    position: relative;
    height: 34px;
}

#rides-search-div {
    height: 38.2%;
}

#rides-result-div {
    height: 61.8%;
    float: right;
    display: block;
    width: 38.2%;
    overflow-y: auto;
}

#ride-list-item {
    border-top: 1px solid #777;
    position: relative;
    display: inline-block;
    width: 100%;
    background: white;
}

#ride-list-item-to-from{
    float: left;
    width: 75%;
}

#ride-list-item-date {
    float: right;
    text-align: right;
    padding-right: 5px;
}

.rides-list-tab {
    float: left;
    width:50%;
}

.rides-list-tab label {
    background: #eee;
    padding-bottom: 7px;
    padding-top: 0;
    border: 1px solid #ccc;
    margin-left: -1px;
    position: relative;
    left: 1px;
    width:100%;
    display: inline-block;
    text-align: center;
}

.rides-list-tab [type=radio] {
    display: none;
    width: 100%;
}

.rides-list-content {
    position: absolute;
    top: 28px;
    left:0;
    background: white;
    right:0;
    bottom:0;
    border:1px solid #ccc;
    z-index: 0;
}

.form-group {
    display: block;
    clear: both;
    width: 100%;
}

.form-group label {
    display: inline;
    width: auto;
    float:left;
    background: none;
    border: none;
}

.form-control {
    display: inline;
    float:right;
}

.btn btn-primary {
    float: right;
}
[type=radio]:checked ~ label {
    background: white;
    border-bottom: 1px solid white;
    z-index:2;
}
[type=radio]:checked ~ label ~ .rides-list-content {
    z-index: 1;
}